<!--The content below is only a placeholder and can be replaced.-->
<div style="width:100%;">
  <div class="row fileRow">
    <app-import-file (onChanged)="changeText($event)" [title]="'Import'"></app-import-file>
    <app-export-file [nameFile]="'encryptedSystem'" [text]="textInput" [title]="'Export'"></app-export-file>
  </div>
  <form class="form">
    <mat-form-field class="text">
      <textarea matInput style="height:300px;" [value]="textInput" (input)="doTextareaValueChange($event)"
        placeholder="Input your secret key"></textarea>
    </mat-form-field>
    <div class="tools">
      <div class="selectAlgoritm">
        <mat-label>Algorithm</mat-label>
        <mat-select [(value)]="selectedAlgorithm">
          <mat-option *ngFor="let alg of algorithms" [value]="alg.value">
            {{alg.viewValue}}
          </mat-option>
        </mat-select>
      </div>
      <button class="btn" mat-raised-button (click)="encrypt(textInput,shift)">Encrypt</button>
      <button class="btn" mat-raised-button (click)="decrypt(textInput,shift)">Decrypt</button>

      <div class="toolKoef selectAlgorithm" *ngIf="selectedAlgorithm == 1">
        <mat-select [(value)]="selectedShiff">
          <mat-option *ngFor="let item of shiffsTritemius" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
        <h3>Koef</h3>
        <div *ngIf="selectedShiff == 0">
          <div>A = <input type="number" [(ngModel)]="AKoef" class="form-control koef" matInput name="value"
              placeholder="Input A" /></div>
          <div>B = <input type="number" [(ngModel)]="BKoef" class="form-control koef" matInput name="value"
              placeholder="Input B" /></div>
        </div>
        <div *ngIf="selectedShiff == 1">
          <div>A = <input type="number" [(ngModel)]="AKoef" class="form-control koef" matInput name="value"
              placeholder="Input A" /></div>
          <div>B = <input type="number" [(ngModel)]="BKoef" class="form-control koef" matInput name="value"
              placeholder="Input B" /></div>
          <div>C = <input type="number" [(ngModel)]="CKoef" class="form-control koef" matInput name="value"
              placeholder="Input C" /></div>
        </div>
        <div *ngIf="selectedShiff == 2">
          <div>Your text = <input type="text" [(ngModel)]="gaslo" class="form-control koef" matInput name="value"
              placeholder="Your text" /></div>
        </div>
      
      </div>
    </div>
    <div *ngIf="selectedAlgorithm == 2">
      <mat-form-field class="text key" >
        <input [(ngModel)]="gammaText" class="form-control" matInput name="value" placeholder="Gamma" />
      </mat-form-field>
      <app-import-file (onChanged)="changeGamma($event)" [title]="'Import Gamma'"></app-import-file>
      <app-export-file [nameFile]="'encryptedSystem_gamma'" [text]="gammaText" [title]="'Export Gamma'"></app-export-file>
    </div>
    <div *ngIf="selectedAlgorithm == 3">
      <mat-form-field class="text key" style="width:500px">
        <textarea [(ngModel)]="poem" class="form-control" matInput name="value" placeholder="Poem" ></textarea>
      </mat-form-field>
      <app-import-file (onChanged)="changePoem($event)" [title]="'Import poem'"></app-import-file>
      <app-export-file [nameFile]="'encryptedSystem_poem'" [text]="poem" [title]="'Export poem'"></app-export-file>
    </div>
    <mat-form-field class="text key" *ngIf="selectedAlgorithm == 0 ||selectedAlgorithm == 1">
      <input type="number" [(ngModel)]="shift" class="form-control" matInput name="value" placeholder="Shift" />
    </mat-form-field>
  </form>
  <div class="form">
    <div>
      <h3>Brute force</h3>
      <mat-slider style="width:500px;" class="example-margin" [min]="-100" [max]="100" [(ngModel)]="value"
        (change)="bruteForceChange($event)" thumbLabel [displayWith]="formatLabel" [vertical]="vertical">
      </mat-slider>
    </div>
    <div>
      <h3>Current key</h3>
      {{bruteForceKey}}
    </div>
    <div>
      <h3>Result:</h3>
      {{bruteForceValue}}
    </div>
  </div>



</div>
